
.duh{
    color:black;
    background:peachpuff;
    margin-top:100px;
    width:200px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    border: 2 px solid black;
    border-radius:20px;
}